<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Aktualna Pogoda</title>
</head>
<body>
    <h1>☀️ Aktualna Pogoda w Polsce</h1>

    <h2>Bajerow w bazie: {{ count }}</h2>

    <form action="{% url 'fetch_weather' %}" method="get" style="display: inline;">
        <button type="submit">Pobierz aktualną pogodę ☀️</button>
    </form>

    <form action="{% url 'historical_weather' %}" method="get" style="display: inline;">
        <button type="submit">Dane historyczne 🌡️</button>
    </form>


    {% if weather_data %}
        <table border="1" cellpadding="10" cellspacing="0">
            <thead>
                <tr>
                    <th>Miasto</th>
                    <th>Temperatura (°C)</th>
                    <th>Ostatnia Aktualizacja</th>
                </tr>
            </thead>
            <tbody>
                {% for item in weather_data %}
                <tr>
                    <td>
    <a href="{% url 'city_detail' city_name=item.city.name %}">
        **{{ item.city.name }}**
    </a>
                    </td>

                    <td>{{ item.temperature|floatformat:1 }}</td>

                    <td>{{ item.timestamp|date:"Y-m-d H:i" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Brak dostępnych danych pogodowych (Instrukcja 'if' jest fałszywa).</p>
    {% endif %}

</body>
</html>