<!DOCTYPE html>
<html>
<head>
    <title>Aktualna pogoda</title>
</head>
<body>
    <h1>Aktualna pogoda w miastach wojewódzkich</h1>
    <table border="1" cellpadding="5">
        <tr>
            <th>Miasto</th>
            <th>Szerokość</th>
            <th>Długość</th>
            <th>Temperatura [°C]</th>
            <th>Czas pomiaru</th>
        </tr>
        {% for p in dane %}
        <tr>
            <td>{{ p.miasto }}</td>
            <td>{{ p.szerokosc_geo }}</td>
            <td>{{ p.dlugosc_geo }}</td>
            <td>{{ p.temperatura }}</td>
            <td>{{ p.czas }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
